.ly-pp1{
	
	background:url(../img/jp-2.png) center center no-repeat;
}
.ly-pp2{
	background:url(../img/cen2-1.png) center center no-repeat;
}
.ly-pp3{
	background:url(../img/cen3-1.png) center center no-repeat;
	
}
.ly-pp4{
	background:url(../img/jp-2.png) center center no-repeat;
}