.ly-baner{
	background: url(../img/ydzb1_01.png) 0 0 no-repeat;
}
.ly-pp1{
	
	background:url(../img/ydzb-1.png) center center no-repeat;
}
.ly-pp2{
	
	background:url(../img/zhibo-2.png) center center no-repeat;
}
.ly-pp3{
	
	background:url(../img/zhibo-1.png) center center no-repeat;
	
}
.ly-pp4{
	
	background:url(../img/ydzb-2.png) center center no-repeat;
}
.lylds img{
	margin-left:215px;
}
